@media only screen and (max-width: 1240px){
html,body {font-size: 1.5vw;}
}


@media only screen and (max-width: 768px){
.nav_primary {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.mobile_nav, #menuToggle {
  display: block;
  visibility: visible;
  opacity: 1;
}
}