$darkGrey:#0f0f0f;
$blue:#396ff9;
$orange:#f14c1d;

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "hamburger";
@import "mobile";

html, body{

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
color: $darkGrey;
  padding: 0;
  margin: 0;
font-size: 16px;
  overflow-y: hidden;

}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
transition: all .3s;
}
.section {
  position: relative;
  height: 100vh;
  font-size: 48px;
vertical-align: center;
h1{
padding-top: 20%;
}
h1,h2 {
margin: 0 auto;
text-align: center;
}
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: 100%;
  z-index: -1;
  background: url('../images/warm-house.jpg') center top  no-repeat;
}

/* === Header CSS === */


header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: .3s all;
}

.scroll{
  background-color: #fff;
}
.mobile_nav {
  display: none;
}

ul, li {
padding: 0;
margin: 0;
border: solid black 1px;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
cursor: pointer;
}

#nav_primary, #nav_primary*{
transition: all .2s;
}

.header_inner {
  max-width: 1220px;
  display: flex;
  margin: 0 auto;

}

.logo{
  align-self: flex-start;
  max-width: 25%;
}

.logo img, .mobile_logo img {
width: 100%;
}

.main_menu {
  margin-left: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.main_menu>li {
  position: relative;
  padding: 8px 1rem 7px;
}

.sub-menu>li{
  position: relative;
  padding: 8px .9rem 7px 0;
}

.sub-menu{
  display: block;
  visibility: visible;
  opacity: 1;
  position: absolute;
top: 100%;
}

.header_wood .sub-menu, .header_gas .sub-menu{
left: 100%;
top: -6%;
}
/*.main_menu li:hover>.sub-menu{
  display: block;
  visibility: visible;
  opacity: 1;
}*/

/* === End of Header CSS === */

/* === Main CSS === */
.main_wrapper{
width: 100%;
  background-color: #fff;
}

main {
max-width: 1220px;
padding: 20px;
margin: 0 auto;
  display: grid;
grid-gap: 1rem;
  grid-template-rows: repeat(2, 1fr);
grid-template-columns: repeat(4, 1fr);
  background-color: #fff;
}

.production_item{
  border: 1px solid black;
text-align: center;
vertical-align: bottom;
background: white no-repeat center;
  background-size: contain;
max-width: 280px;

}

.production_item a{
display: flex;
align-items: flex-end;
justify-content: center;
  min-height: 270px;
padding: 20px;
}

.main_banner{
grid-column: 2 / 4;
max-width: 800px;
display: flex;
flex-direction: column;
justify-content: space-around;
background-color: $orange;
color: #fff;
font-size: 3rem;
p{
margin: 0;
}
}

.tverd_banner{
background-image: url("../images/main-tverd-boiler.jpg");
}

.gas_banner{
  background-image: url("../images/main-gas-boiler.jpg");
}
.el_banner{
  background-image: url("../images/main-el-bolier.jpg");
}

.pech_banner{
  background-image: url("../images/main-pech.jpg");
}

.delivery_banner{
  background-image: url("../images/main-dostavka.jpg");
}

.service_banner{
  background-image: url("../images/main-warranty.jpg");
}


@import "media";







